modules {
  module {
    name = "lsof_counter"
    language = "python"

    param username {
      value = "{{ monitoring.software.installation.user }}"
    }
  }
}

collection_group {
  collect_every = 30
  time_threshold = 60
  metric {
    name = "openFiles"
    title = "Open User Files"
    value_threshold = 100000
  }
}