---
#Include variables from file
- include_vars: "../../../profile/{{ profile_type | default('default') }}.yml"
  tags: 
    [ install, test ]

- name: Check if remote tools directory exists
  stat: path={{ monitoring.software.installation.neverwinterdp_deployments_path }}
  register: tools_home_status
  tags:
    - install

- name: Delete remote cluster directory home if it exists
  command: rm -rf {{ monitoring.software.installation.neverwinterdp_deployments_path }}
  when: tools_home_status.stat.exists
  tags:
    - install
  
- name: Copy neverwinterdp_deployments
  synchronize: src={{ playbook_dir }}/../ dest={{ monitoring.software.installation.neverwinterdp_deployments_path }}  recursive=yes
  tags:
    - install
    
- debug: msg="Inventory file location {{ inventory_file }}"
  tags:
    - install
    
- name: Copy inventory file
  copy: src={{ inventory_file }} dest=~/inventory
  tags:
    - install
    
- name: Create bin directory
  file: path={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin state=directory
  tags:
    - install


- name: Create symbolic link for serviceCommander
  file: src={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/serviceCommander/serviceCommander.py dest={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin/ndpservice state=link
  tags:
    - install

- name: Create symbolic link for statusCommander
  file: src={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/statusCommander/statusCommander.py dest={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin/ndpstatus state=link
  tags:
    - install

- name: Create symbolic link for loggrep
  file: src={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/loggrep/loggrep.py dest={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin/ndploggrep state=link
  tags:
    - install

- name: Create symbolic link for clusterExec
  file: src={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/clusterExec/clusterExec.py dest={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin/ndpexec state=link
  tags:
    - install




- name: set NEVERWINTERDP_DEPLOYMENTS_HOME in /etc/profile 
  sudo: yes
  lineinfile: dest=/etc/profile line="export NEVERWINTERDP_DEPLOYMENTS_HOME={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin" state=present
  tags:
    - install
 
- name: set PATH in /etc/profile
  sudo: yes
  lineinfile: dest=/etc/profile line="export PATH={{ ansible_env.PATH }}:{{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin;" state=present
  tags:
    - install

- name: set NEVERWINTERDP_DEPLOYMENTS_HOME in /etc/environment 
  sudo: yes
  lineinfile: dest=/etc/environment line="NEVERWINTERDP_DEPLOYMENTS_HOME={{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin" state=present
  tags:
    - install
 
- name: set PATH in /etc/environment
  sudo: yes
  lineinfile: dest=/etc/environment line="PATH={{ ansible_env.PATH }}:{{ monitoring.software.installation.neverwinterdp_deployments_path }}/tools/bin;" state=present
  tags:
    - install
 