- name: Install nose==1.3.4 tabulate paramiko junit-xml click requests
  easy_install: name={{ item }}
  sudo: yes
  with_items:
    - nose==1.3.4 
    - tabulate 
    - paramiko 
    - junit-xml 
    - click 
    - requests 
  
- name: Install pyopenssl==0.15.1 ndg-httpsclient pyasn1 kazoo elasticsearch python-digitalocean pyyaml
  pip: name={{ item }}
  sudo: yes
  with_items:
    - pyopenssl==0.15.1 
    - ndg-httpsclient 
    - pyasn1 
    - kazoo 
    - elasticsearch 
    - python-digitalocean 
    - pyyaml
 