- name: Clean Hadoop datas
  shell: "rm -rf {{ hadoop_master.software.installation.hadoop_home_dir }}/data"
  sudo: yes

- name: Clean Hadoop logs
  shell: "rm -rf {{ hadoop_master.software.installation.hadoop_home_dir }}/logs"
  sudo: yes

- name: Clean vm directory
  shell: "rm -rf {{ hadoop_master.software.installation.hadoop_home_dir }}/vm"
  sudo: yes

- name: Clean vm directory
  shell: "rm -rf {{ hadoop_master.software.installation.hadoop_home_dir }}/vm-logs/*"
  sudo: yes

- name: Format Hadoop 
  shell: "{{ hadoop_master.software.installation.hadoop_home_dir }}/bin/hdfs namenode -format"
