#/lib/systemd/system/scribengin.service
[Unit]
Description=VM Service
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
RefuseManualStop=no

[Service]
Type=forking
User=neverwinterdp
ExecStart={{ remote_scribengin_home }}scribengin/bin/shell.sh scribengin start
ExecStop={{ remote_scribengin_home }}scribengin/bin/shell.sh scribengin shutdown

[Install]
WantedBy=multi-user.target