<?xml version="1.0"?>
<configuration>
  <property>
    <name>yarn.resourcemanager.hostname</name>
    <value>{{yarn_resourcemanager_hostname}}</value>
  </property>

  <property>
    <name>yarn.nodemanager.hostname</name>
    <value>{{yarn_nodemanager_hostname}}</value>
  </property>
</configuration>
