broker.id={{hostvars[inventory_hostname].id}}
host.name={{ ansible_hostname }}
advertised.host.name={{ ansible_hostname }}
zookeeper.connect={% for host in groups['zookeeper'] %}
{{ host }}:2181,
{% endfor %}
port={{ kafka_port }}
advertised.port={{ advertised_port }}
num.network.threads={{ num_network_threads }}
num.io.threads={{ num_io_threads }}
socket.send.buffer.bytes={{ socket_send_buffer_bytes }}
socket.receive.buffer.bytes={{ socket_receive_buffer_bytes }}
socket.request.max.bytes={{ socket_request_max_bytes }}
replica.fetch.max.bytes={{ replica_fetch_max_bytes }}
message.max.bytes={{ message_max_bytes }}
log.dirs={{ kafka_data_dir }}
log.flush.interval.messages={{ log_flush_interval_messages }}
log.flush.interval.ms={{ log_flush_interval_ms }}
log.retention.hours={{ log_retention_hours }}
log.segment.bytes={{ log_segment_bytes }}
log.retention.check.interval.ms={{ log_retention_check_interval_ms }}
log.cleaner.enable={{ log_cleaner_enable }}
zookeeper.connection.timeout.ms={{ zookeeper_connection_timeout_ms }}
auto.create.topics.enable={{ auto_create_topics_enable }}
default.replication.factor={{ default_replication_factor }}
