#!/usr/bin/env bash
#JAVACMD='/usr/bin/java'
#JAR='/opt/gripper/0.1.0/gripper-0.1.0-jar-with-dependencies.jar'
#JAVA_OPTS='-Xms256m -Xmx1024m -server -XX:NewRatio=2 -XX:+UseConcMarkSweepGC -XX:+TieredCompilation -XX:+AggressiveOpts'
#CLASSPATH='/opt/gripper/0.1.0/'

#${JAVACMD} -jar $JAR ${JAVA_OPTS} -classpath ${CLASSPATH}

echo 'Use built in start script for now'