#!/bin/bash
ODYSSEY_EVENT_GEN_BIN={{odyssey_home}}/odyssey-event-gen/bin
DESC="Odyssey Event Gen"
NAME=Odyssey_Event_Gen
DAEMON="mvn -Dmaven.tomcat.port=8181 tomcat:run"
DAEMON_ARGS=" -f {{odyssey_home}}/odyssey-event-gen/pom.xml"
PIDFILE=$ODYSSEY_EVENT_GEN_BIN/$NAME.pid
SCRIPTNAME=$NAME
LOG=$ODYSSEY_EVENT_GEN_BIN/$NAME.log
 
pid_file_exists() {
    [ -f "$PIDFILE" ]
}
 
do_start()      {
        
        if pid_file_exists
        then
                        echo "Odyssey Event Gen is already running. So Killing..."
                        KILL=$(kill -15 $PID)
                        rm $PIDFILE
                        sleep 1
                        echo -e "\Odyssey Event Gen (PID:$PID) killed"
                        $DAEMON $DAEMON_ARGS 1>"$LOG" 2>&1 &
                        echo $! > "$PIDFILE"
                        PID=$!
                        if [ "$PID" > 0 ]
                        then
                                echo "Odyssey Event Gen started with pid $!"
                        else
                                echo "Odyssey Event Gen could not be started"
                        fi 
        else
                        $DAEMON $DAEMON_ARGS 1>"$LOG" 2>&1 &
                        echo $! > "$PIDFILE"
                        PID=$!
                        if [ "$PID" > 0 ]
                        then
                                echo "Odyssey Event Gen started with pid $!"
                        else
                                echo "Odyssey Event Gen could not be started"
                        fi    
        fi
                
        
}
 
 
do_status() {
        if pid_file_exists
        then    
                PID=$(cat $PIDFILE)
                STATUS=$(ps ax | grep $PID | grep -v grep | awk '{print $1}')
                
                if [ "$STATUS" == "$PID" ]
                then
                                echo "Odyssey Event Gen is running on proccess $PID"
                else
                                echo "Odyssey Event Gen is NOT running"
                                rm $PIDFILE
                fi
        else
                echo "Odyssey Event Gen is NOT running"
        fi
}
 
do_stop() {
        if pid_file_exists
        then    
                PID=$(cat $PIDFILE)
                STATUS=$(ps ax | grep $PID | grep -v grep | awk '{print $1}')
                
                if [ "$STATUS" == "$PID" ]
                then
                                echo "Killing Odyssey Event Gen...."
                                KILL=$(kill -15 $PID)
                                rm $PIDFILE
                                sleep 1
                                echo -e "\Odyssey Event Gen (PID:$PID) killed"
                                
                else
                                echo "Odyssey Event Gen is NOT running"
                                rm $PIDFILE
                fi
        else
                echo "Odyssey Event Gen is NOT running"
        fi
}
 
 
case "$1" in
  start)
        do_start;;
  stop)
        do_stop
        ;;
  status)
        do_status
        ;;
  restart)
        do_stop
        do_start
        ;;
  *)
        echo "Usage: $SCRIPTNAME {start|stop|status|restart}" >&2
        exit 3
        ;;
esac
 
exit 0
 