---

- name: Common Requirements
  hosts: all
  remote_user: neverwinterdp
  roles:
    - common
    - clustercommander

- name: Hadoop Master and Workers
  hosts: hadoop_master:hadoop_worker
  remote_user: neverwinterdp
  roles:
    - hadoop
    - scribengin

- name: Zookeeper
  hosts: zookeeper
  remote_user: neverwinterdp
  roles:
    - zookeeper
    
- name: Kafka
  hosts: kafka
  remote_user: neverwinterdp
  roles:
    - kafka_broker

- name: Elasticsearch
  hosts: elasticsearch
  remote_user: neverwinterdp
  roles:
    - elasticsearch
    - kibana_charts

- name: Monitoring
  hosts: monitoring
  remote_user: neverwinterdp
  roles:
    #- influxdb
    #- grafana
    - kibana
    

