#/lib/systemd/system/hadoop-secondarynamenode.service
[Unit]
Description=Hadoop secondarynamenode Service
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
RefuseManualStop=no

[Service]
Type=forking
User=neverwinterdp
ExecStart={{ hadoop_home_dir }}/sbin/hadoop-daemon.sh start secondarynamenode

[Install]
WantedBy=multi-user.target