#/lib/systemd/system/hadoop-resourcemanager.service
[Unit]
Description=Hadoop resourcemanager Service
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
RefuseManualStop=no

[Service]
Type=forking
User=neverwinterdp
ExecStart={{ hadoop_home_dir }}/sbin/yarn-daemon.sh start resourcemanager

[Install]
WantedBy=multi-user.target