#/lib/systemd/system/hadoop-namenode.service
[Unit]
Description=Hadoop namenode Service
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
RefuseManualStop=no

[Service]
Type=forking
User=neverwinterdp
ExecStart={{ hadoop_home_dir }}/sbin/hadoop-daemon.sh start namenode

[Install]
WantedBy=multi-user.target