- name: Check if zookeeper data directory exists
  stat: path={{zookeeper_data_dir}}
  register: data_dir
  
- name: Create zookeeper data directory
  file: path={{ zookeeper_data_dir }} state=directory owner=neverwinterdp 
  when: not data_dir.stat.exists
  
- name: Create myid file  
  template: src={{ item }}.j2 dest={{ zookeeper_data_dir }}/{{ item }} owner=neverwinterdp
  with_items:
    - myid

- name: Add zoo.cfg file
  template: src={{ item }}.j2 dest={{ zookeeper_home_dir }}/conf/{{ item }}
  with_items:
    - zoo.cfg
