# Variables for only this role
zookeeper_home_dir: /opt/zookeeper
zookeeper_log_dir: /opt/zookeeper/logs
zookeeper_data_dir: /opt/zookeeper/data
zookeeper_clientport: 2181 
zookeeper_leader_port: 2888
zookeeper_election_port: 3888

#zookeeper_url: http://mirrors.digipower.vn/apache/zookeeper/zookeeper-3.4.6/zookeeper-3.4.6.tar.gz
zookeeper_tar: zookeeper-3.4.6.tar.gz
zookeeper_url: http://jenkinsdp.do.demandcube.com/{{zookeeper_tar}}


