- name: Move configuration files to container
  copy: src=config/ dest={{ hadoop_home }}/etc/hadoop/

- name: Add masters and slaves file
  template: src={{ item }}.j2 dest={{ hadoop_home }}/etc/hadoop/{{ item }}
  sudo: yes
  with_items:
    - slaves
    - masters
    - hadoop-env.sh
    - yarn-env.sh
    - core-site.xml
    - hdfs-site.xml
    - yarn-site.xml
    
- name: Add hdfs
  template: src={{ item }}.j2 dest={{ hadoop_home }}/bin/{{ item }}
  sudo: yes
  with_items:
    - hdfs
