#/lib/systemd/system/kafka-broker.service
[Unit]
Description=Kafka Broker Service
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
RefuseManualStop=no

[Service]
Type=simple
User=neverwinterdp
ExecStart={{ kafka.software.installation.kafka_home_dir }}/bin/kafka-server-start.sh {{ kafka.software.installation.kafka_home_dir }}/config/server.properties

[Install]
WantedBy=multi-user.target